<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations! Choose up to 1 reward.</title>
</head>
<body>
    <h1>Stop snooping and go play the game.</h1>
    <h1>Also no tips or tricks yet.</h1>
</body>
</html>