<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations! Choose up to 1 reward.</title>
</head>
<body>
    <h1>Congratulations! Choose 1 reward.</h1>
    <form action="/game" method="POST">
        <label>
            <input type="radio" name="reward" value="0"> {{ reward1 }}
        </label><br>
        <label>
            <input type="radio" name="reward" value="1"> {{ reward2 }}
        </label><br>
        <label>
            <input type="radio" name="reward" value="2"> {{ reward3 }}
        </label><br>
        <label>
            <input type="radio" name="reward" value="3"> Gain 50 Ink
        </label><br>
        <button name="reward_choice" type="submit">Select Reward</button>
    </form>
</body>
</html>